<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Menri/Downloads/demo/demo1">
    <classes>
        <class name="com.example.demo1.MainPageTest">
            <methods>
                <include name="search"/>
                <include name="filter16Gb"/>
                <include name="unFilter16Gb"/>
                <include name="addItemsToWishList"/>
                <include name="addItemsToShoppingCard"/>
                <include name="verifyCardWishlist"/>
            </methods>
        </class>
    </classes>
</test>
</suite>